.skill {
  /* height: 100vh; */
  height: auto;
  background: #1d1d1d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px 80px;
  /* margin-top: 80px; */
}
.skill h1 {
  margin: 0px;
  color: #08fdd8;
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 900;
}
.menu {
  padding-left: 0px;
}

.menu li {
  font-size: 30px;
  list-style: none;
  color: #fff;
  display: flex;
  margin: 10px 0px;
  font-size: 20px;
  /* flex-direction: column; */
  align-items: center;
}
.menu li .menu_icon {
  color: #08fdd8;
  font-size: 30px;
  margin-right: 10px;
}

.stacks {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.stack_icon{
  font-size: 50px;
}
.stacks li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #868e96;
  /* align-items: center; */
  margin: 10px 20px;
}

.stack_icon {
  display: block;
  color: #868e96;
}
.stack_icon:hover {
  color: #08fdd8;
}
.stacks li:hover {
  color: #fff;
}
.skill_right {
  margin-left: 40px;
}

.skill_right p {
  color: #fff;
}

.skill_left {
  width: 80%;
  height: 80%;
}
.skill_left .animation {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1177px) {
  .skill h1 {
    margin: 0px;
    font-size: 45px;
    font-weight: 900;
  }
  .menu li {
    font-size: 30px;
  
    margin: 10px 0px;
    font-size: 20px;
    /* flex-direction: column; */
    align-items: center;
  }
  .stacks li {
  
    margin: 10px 20px;
  }
  .skill_left {
    width: 80%;
    height: 80%;
  }
  .skill_left .animation {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .stacks li {
    margin: 10px 18px;
    font-size: 14px;
  }
}
@media screen and (max-width: 1131px) {
  .skill h1 {
    margin: 0px;
    font-size: 43px;
    font-weight: 900;
  }
  .skill_right p{
    font-size:15px;
    
  }
  .menu li{

  
    margin: 10px 0px;
    font-size: 19px;
    /* flex-direction: column; */
    align-items: center;
  }
  .stacks li {
  
    margin: 10px 20px;
  }
  .skill_left {
    width: 80%;
    height: 80%;
  }
  .skill_left .animation {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .stacks li {
    margin: 10px 18px;
    font-size: 14px;
  }
}
@media screen and (max-width: 1101px) {
  .skill h1 {
    margin: 0px;
    font-size: 43px;
    font-weight: 900;
  }
  .skill_right p{
    font-size:15px;
    
  }
  .menu li{

  
    margin: 10px 0px;
    font-size: 19px;
    /* flex-direction: column; */
    align-items: center;
  }
  .stacks li {
  
    margin: 10px 20px;
  }
  .stack_icon{
    font-size:45px;
  }
  .skill_left {
    width: 80%;
    height: 80%;
  }
  .skill_left .animation {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .stacks li {
    margin: 10px 18px;
    font-size: 14px;
  }
}
@media screen and (max-width: 1063px) {
  .skill h1 {
    margin: 0px;
    font-size: 43px;
    font-weight: 900;
  }
  .skill_right p{
    font-size:14px;
    
  }
  .menu li{

  
    margin: 10px 0px;
    font-size: 18px;
    /* flex-direction: column; */
    align-items: center;
  }
  .stacks li {
  
    margin: 10px 20px;
  }
  .stack_icon{
    font-size:45px;
  }
  .skill_left {
    width: 80%;
    height: 80%;
  }
  .skill_left .animation {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .stacks li {
    margin: 10px 18px;
    font-size: 14px;
  }
}
@media screen and (max-width: 1047px) {
  .skill h1 {
    margin: 0px;
    font-size: 43px;
    font-weight: 900;
  }
  .skill_right p{
    font-size:14px;
    
  }
  .menu li{

    
    margin: 10px 0px;
    font-size: 18px;
    /* flex-direction: column; */
    align-items: center;
  }
  .stacks li {
    
    margin: 10px 20px;
  }
  .stack_icon{
    font-size:40px;
  }
  .skill_left {
    width: 80%;
    height: 80%;
  }
  .skill_left .animation {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .stacks li {
    margin: 10px 18px;
    font-size: 14px;
  }
}
@media screen and (max-width: 999px) {
  .skill_left{
    display: none;
  }
  .skill h1 {
    margin: 0px;
    font-size: 45px;
    font-weight: 900;
  }
  .skill_right p{
    font-size:18px;
    
  }
  .menu li{

    
    margin: 15px 0px;
    font-size: 18px;
    /* flex-direction: column; */
    align-items: center;
  }
  .stacks li {
    
    margin: 15px 20px;
  }
  .stack_icon{
    font-size:50px;
  }
  
  
  .stacks li {
    margin: 10px 20px;
    font-size: 18px;
  }
}


@media screen and (max-width: 790px) {
  
  .skill h1 {
    margin: 0px;
    font-size: 40px;
    font-weight: 900;
  }
  .skill_right p{
    font-size:17px;
    
  }
  .menu{
    margin:25px 0px;
  }
  .menu li{

    
    margin: 10px 0px;
    font-size: 18px;
    /* flex-direction: column; */
    align-items: center;
  }
  .stacks li {
    
    margin: 15px 20px;
  }
  .stack_icon{
    font-size:45px;
  }
  
  
  .stacks li {
    margin: 10px 20px;
    font-size: 17px;
  }
}



@media screen and (max-width: 858px) {
  .skill_left {
    display: none;
  }
}
